/* Cascading Style Sheet Created By: PxO Ink (http://pxoink.net/) */
/* Cascading Style Sheet Copyright © 2014 PxO Ink. Most Rights Reserved. */

/* Begin Page Settings */

*.clear {
	clear: both;
	}

*.nod {
	display: none;
	}
	
*.req {
	color: #F00;
	}

a {
	color: #000;
	text-decoration: underline;
	}

a:hover {
	color: #069;
	text-decoration: underline;
	}
	
abbr {
	border-width: 0px;
	border-bottom: 1px;
	border-style: dotted;
	border-color: inherit;
	}
	
blockquote {
	position: relative;
	margin: 1.50em 2.50em; 
	}
	
blockquote:before, blockquote:after {
	position: absolute;
	font-size: 4.00em;
	}
	
blockquote:before {
	content: "\201C";
	left: -0.50em;
	}
	
blockquote:after {
	content: '\201D';
	bottom: 0.05em;
	right: -0.50em;
	}
	
blockquote span {
	display: block;
	margin-top: 0.50em;
	text-align: right;
	}
	
code {
	display: block;
	padding: 1.00em 2.00em;
	max-width: 100.00%;
	font-size: 1.40em;
	counter-reset: linecounter;
	overflow: scroll;
	white-space: pre;
	}
	
code > span {
	counter-increment: linecounter;
	}
	
code > span:before {
	content: counter(linecounter);
	padding-right: 0.50em;
	margin-right: 0.50em;
	border-width: 0px;
	border-right: 0.40em;
	border-style: solid;
	opacity: 0.40;
	}
	
h1 {
	font-size: 4.00em;
	}
	
h2 {
	font-size: 2.80em;
	}
	
h3, fieldset legend {
	font-size: 2.40em;
	}
	
h4 {
	font-size: 1.80em;
	}
	
h5 {
	font-size: 1.60em;
	}
	
h6 {
	font-size: 1.40em;
	}
	
iframe, img, object {
	max-width: 100.00%;
	}
	
input[type=text], input[type=password], input[type=email], input[type=date], input[type=datetime], 
input[type=datetime-local], input[type=search], input[type=tel], input[type=url], input[type=month], 
input[type=week], input[type=number], input[type=range], input[type=color], select, textarea, .input {
	margin-bottom: 0.50em;
	padding: 1.00%;
	max-width: 98.00%;
	border-width: 1px;
	border-style: solid;
	border-color: #BBB;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: sans-serif, serif;
	}
	
input[type=file] {
	padding: 0.25em;
	}
	
input[type=image] {
	vertical-align: top;
	}
	
input[readonly] {
	background-color: buttonface;
	}
	
input.datepicker {
	cursor: pointer;
	}
	
button, input[type=submit], input[type=reset], .button {
	cursor: pointer;
	}
	
fieldset, fieldset > legend {
	margin: 0.50em 0px;
	border-width: 0px;
	}
	
form label {
	padding: 0.50em;
	padding-left: 0px;
	}
	
form > label {
	display: inline-block;
	}
	
form label[for] {
	cursor: pointer;
	}
	
nav ul {
	padding: 0px;
	list-style-type: none;
	}
	
nav > ul ul {
	display: none;
	}
	
table {
	width: 100.00%;
	}
	
table caption, table th, table thead td, table tbody th, table tbody td {
	text-align: left;
	}
	
table thead td input, table tbody td input, table thead td select, table tbody td select, table thead td textarea, table tbody td textarea {
	
	}

/* End Page Settings */

/* Begin Page Work */

.normal, #main p, #main blockquote, #main ul > li, nav > ul > li, nav ul.horizontal > li, 
form label, form input, form textarea, .input, fieldset > legend {
	font-size: 1.40em;
	line-height: 1.50em;
	}
	
#main li li {
	font-size: 1.00em;
	line-height: 1.00em;
	}
	
#main ul, #main ol {
	margin-left: 1.00em;
	}
	
#main nav ul {
	margin-left: 0px;
	}
	
#main ul > li, #main ol > li {
	padding-left: 1.00em;
	list-style-position: inside;
	text-indent: -1.00em;
	}
	
.normal, #main p, nav > ul > li, nav ul.horizontal > li, form label, form input
form textarea, .input {
	margin: 0px;
	}

.alert {
	margin: 0.50em;
	padding: 0.50em;
	background-color: #EEE;
	border-width: 1px;
	border-color: #BBB;
	border-style: solid;
	}
	
.alert.success {
	background-color: #DFE;
	border-color: #7E7;
	}
	
.alert.warning {
	background-color: #FFC;
	border-color: #FC9;
	}

.alert.error {
	background-color: #FDD;
	border-color: #F66;
	}
	
.alert.message {
	background-color: #8CF;
	border-color: #068;
	}
	
.dismiss {
	position: relative;
	cursor: pointer;
	}
	
.dismiss:before {
	position: absolute;
	top: 0.25em;
	right: 0.75em;
	color: #B00;
	content: 'x';
	}
	
.align-left {
	text-align: left;
	}
	
.align-center {
	text-align: center;
	}
	
.align-right {
	text-align: right;
	}
	
body.single {
	margin: 0 auto;
	}
	
body.single.twenty {
	width: 20.00%;
	min-width: 640px;
	}
	
body.single.forty {
	width: 40.00%;
	min-width: 940px;
	}
	
body.single.sixty {
	width: 60.00%;
	min-width: 1152px;
	}
	
body.single.eighty {
	width: 80.00%;
	min-width: 1440px;
	}
	
.micro {
	font-size: 0.80em;
	}
	
.small {
	font-size: 1.20em;
	line-height: 1.25em;
	}
	
.breadcrumbs {
	padding: 0.50em;
	}
	
.breadcrumbs ul li {
	display: inline;
	text-transform: lowercase;
	font-variant: small-caps;
	}
	
.breadcrumbs ul li:before {
	content: ' / ';
	font-size: 0.80em;
	}
	
.breadcrumbs ul li:first-child:before {
	content: '';
	}
	
.breadcrumbs ul li:last-child a {
	cursor: default;
	text-decoration: none;
	}

.input {
	background-color: #EEE;
	}
	
.prefix {
	margin-right: -1px;
	border-right: 0px;
	}

.postfix {
	margin-left: -1px;
	border-left: 0px;
	}
	
.content {
	margin-top: 1.50em;
	margin-bottom: 2.50em;
	}
	
#main p, br, h2, h3, h4, h5 {
	padding-top: 0.25em;
	padding-bottom: 0.50em;
	}
	
h1 {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	}
	
.size.one {
	font-size: 1.00em;
	}
	
.size.two {
	font-size: 2.00em;
	}
	
.size.three {
	font-size: 3.00em;
	}
	
.large {
	font-size: 1.60em;
	line-height: 1.50em;
	}
	
.huge {
	font-size: 1.80em;
	line-height: 1.50em;
	}

.mega {
	font-size: 2.00em;
	line-height: 2.00em;
	}
	
#main li li {
	font-size: 1.00em;
	line-height: 1.00em;
	}
	
nav.horizontal {
	padding: 0.50em;
	}
	
nav.horizontal > * {
	float: left;
	margin: 0.50em;
	padding: 0px;
	}
	
nav.horizontal ul {
	position: relative;
	}

nav.horizontal > ul li {
	float: left;
	}
	
nav.horizontal ul li a, nav.vertical ul li a {
	padding: 0.50em 1.00em;
	}
	
nav.horizontal > ul li:last-child {
	margin-right: 0px;
	}
	
nav.horizontal ul li:hover > ul, nav.horizontal ul ul li a {
	display: block;
	}
	
nav.horizontal ul ul, nav.vertical ul ul {
	display: none;
	position: absolute;
	top: 100.00%;
	z-index: 10;
	}
	
nav.horizontal ul ul li, nav.vertical ul ul li {
	float: none; 
	position: relative;
	white-space: nowrap;
	}
	
nav.horizontal ul ul ul, nav.vertical ul ul ul {
	top: 0px;
	left: 100.00%;
	}
	
nav.vertical ul {
	display: block;
	position: relative;
	padding: 0px;
	}
	
nav.vertical > ul {
	margin: 0px 0.50em;
	}
	
nav.vertical > ul li {
	position: relative;
	}
	
nav.vertical ul li a {
	display: block;
	}
	
nav.vertical > ul li:hover > ul {
	display: block;
	position: absolute;
	top: 0px;
	left: 100.00%;
	}
	
nav ul li.mobile {
	display: none;
	}
	
nav ul li.mobile a {
	font-size: 2.80em;
	line-height: 1.00em;
	text-decoration: none;
	}
	
.column.center {
	margin: 0 auto;
	}
	
.column.left {
	float: left;
	}
	
.column.right {
	float: right;
	}
	
.column.one {
	width: 004.98%;
	}

.column.two {
	width: 009.96%;
	}
	
.column.three {
	width: 014.94%;
	}
	
.column.four {
	width: 019.92%;
	}
	
.column.five {
	width: 024.90%;
	}
	
.column.six {
	width: 029.88%;
	}
	
.column.seven {
	width: 034.86%;
	}
	
.column.eight {
	width: 039.84%;
	}
	
.column.nine {
	width: 044.82%;
	}
	
.column.ten {
	width: 049.80%;
	}
	
.column.eleven {
	width: 054.78%;
	}
	
.column.twelve {
	width: 059.76%;
	}
	
.column.thirteen {
	width: 064.74%;
	}
	
.column.fourteen {
	width: 069.72%;
	}
	
.column.fifteen {
	width: 074.70%;
	}
	
.column.sixteen {
	width: 079.68%;
	}
	
.column.seventeen {
	width: 084.66%;
	}
	
.column.eighteen {
	width: 089.64%
	}
	
.column.nineteen {
	width: 094.62%;
	}
	
.column.twenty {
	width: 100.00%;
	}
	
.margin.horizontal-one {
	margin-left: 002.49%;
	margin-right: 002.49%;
	}
	
.margin.horizontal-two {
	margin-left: 004.98%;
	margin-right: 004.98%;
	}
	
.margin.vertical-one {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	}
	
.margin.vertical-two {
	margin-top: 2.50em;
	margin-bottom: 2.50em;
	}
	
.margin.column-left {
	margin-left: 004.98%;
	}
	
.margin.column-right {
	margin-right: 004.98%;
	}
	
.margin.no-margin-top {
	margin-top: 0px;
	}
	
.margin.no-margin-bottom {
	margin-bottom: 0px;
	}

.margin.no-margin-left {
	margin-left: 0px;
	}
	
.margin.no-margin-right {
	margin-right: 0px;
	}
	
.padding.horizontal-one {
	padding-left: 002.49%;
	padding-right: 002.49%;
	}
	
.padding.horizontal-two {
	padding-left: 004.98%;
	padding-right: 004.98%;
	}
	
.padding.vertical-one {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	}
	
.padding.vertical-two {
	padding-top: 2.50em;
	padding-bottom: 2.50em;
	}
	
.padding.column-left {
	padding-left: 004.98%;
	}
	
.padding.column-right {
	padding-right: 004.98%;
	}
	
.padding.no-padding-top {
	padding-top: 0px;
	}
	
.padding.no-padding-bottom {
	padding-bottom: 0px;
	}

.padding.no-padding-left {
	padding-left: 0px;
	}
	
.padding.no-padding-right {
	padding-right: 0px;
	}
	
.pagination {
	padding: 0.50em 0px;
	}
	
.pagination ul li {
	display: inline;
	padding: 0px !important;
	text-indent: 0px;
	}
	
.pagination ul li a {
	padding: 0.20em 0.50em;
	text-decoration: none;
	}

.pagination.rounded-corners ul li a {
	border-radius: 5px;
	}
	
.pagination ul li a:hover {
	background-color: #EEE;
	}

.pagination ul li.current a {
	background-color: #DDD;
	}
	
.pagination.blue ul li a:hover {
	background-color: #1DACD6;
	color: #FFF;
	}
	
.pagination.blue ul li.current a {
	background-color: #007BA7;
	color: #FFF;
	}
	
.pagination.green ul li a:hover {
	background-color: #088C48;
	color: #FFF;
	}
	
.pagination.green ul li.current a {
	background-color: #064;
	color: #FFF;
	}
	
.pagination.orange ul li a:hover {
	background-color: #FF7F00;
	color: #FFF;
	}
	
.pagination.orange ul li.current a {
	background-color: #E70;
	color: #FFF;
	}
	
.pagination.red ul li a:hover {
	background-color: #D00;
	color: #FFF;
	}
	
.pagination.red ul li.current a {
	background-color: #B00;
	color: #FFF;
	}
	
.pagination.purple ul li a:hover {
	background-color: #60F;
	color: #FFF;
	}
	
.pagination.purple ul li.current a {
	background-color: #40A;
	color: #FFF;
	}
	
.border {
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	}
	
.border.thick {
	border-width: 0.50em;
	}
	
.border.thin {
	border-width: 0.10em;
	}
	
.border.thin-one {
	border-width: 1px;
	}
	
.border.groove {
	border-style: groove;
	}
	
.border.inset {
	border-style: inset;
	}
	
.border.outset {
	border-style: outset;
	}
	
.border.ridge {
	border-style: ridge;
	}
	
.border.border-black {
	border-color: #000;
	}
	
.border.border-blue {
	border-color: #007BA7;
	}
	
.border.border-cerulean {
	border-color: #1DACD6;
	}
	
.border.border-green {
	border-color: #088C48;
	}
	
.border.border-metal {
	border-color: #222;
	}
	
.border.border-orange {
	border-color: #FF7F00;
	}
	
.border.border-purple {
	border-color: #60F;
	}
	
.border.border-red {
	border-color: #B00;
	}
	
.border.border-white {
	border-color: #FFF;
	}

.back.cerulean, .back.black, .back.blue, .back.dark-grey, .back.green, .back.metal, .back.purple, .back.red, 
.back.black a, .back.blue a, .back.dark-grey a, .back.green a, .back.metal a, .back.purple a, .back.red a {
	color: #FFF;
	}
	
.back .back.cerulean, .back .back.black, .back .back.blue, .back .back.dark-grey, .back .back.green, .back .back.metal, .back .back.purple, 
.back .back.red, .back .back.black a, .back .back.blue a, .back .back.dark-grey a, .back .back.green a, .back .back.metal a, .back .back.purple a, 
.back .back.red a {
	color: #FFF;
	}
	
.back .back .back.cerulean, .back .back .back.black, .back .back .back.blue, .back .back .back.dark-grey, .back .back.green, .back .back .back.metal, 
.back .back .back.purple, .back .back .back.red, 
.back .back .back.black a, .back .back .back.blue a, .back .back .back.dark-grey a, .back .back.green a, .back .back .back.metal a, 
.back .back .back.purple a, .back .back .back.red a {
	color: #FFF;
	}

.back.light-grey, .back.neon-blue, .back.neon-green, .back.neon-red, .back.orange, .back.silver, .back.white, 
.back.cerulean a, .back.light-grey a, .back.neon-blue a, .back.neon-green a, .back.neon-red a, .back.orange a, .back.silver a, .back.white a { 
	color: #000;
	}
	
.back .back.light-grey, .back .back.neon-blue, .back .back.neon-green, .back .back.neon-red, .back .back.orange, 
.back .back.silver, .back .back.white, 
.back .back.cerulean a, .back .back.light-grey a, .back .back.neon-blue a, .back .back.neon-green a, .back .back.neon-red a, 
.back .back.orange a, .back .back.silver a, .back .back.white a { 
	color: #000;
	}
	
.back .back .back.light-grey, .back .back .back.neon-blue, .back .back .back.neon-green, .back .back .back.neon-red, 
.back .back .back.orange, .back .back .back.silver, .back .back .back.white, 
.back .back .back.cerulean a, .back .back .back.light-grey a, .back .back .back.neon-blue a, .back .back .back.neon-green a, 
.back .back .back.neon-red a, .back .back .back.orange a, .back .back .back.silver a, .back .back .back.white a { 
	color: #000;
	}
	
.back.black {
	background-color: #000;
	}
	
.back.blue {
	background-color: #007BA7;
	}
	
.back.cerulean {
	background-color: #1DACD6;
	}
	
.back.dark-grey {
	background-color: #888;
	}
	
.back.green {
	background-color: #088C48;
	}
	
.back.light-grey {
	background-color: #BBB;
	}
	
.back.metal {
	background-color: #222;
	}
	
.back.neon-blue {
	background-color: #26C0FF;
	}
	
.back.neon-green {
	background-color: #00FF8F;
	}
	
.back.neon-red {
	background-color: #F00;
	}
	
.back.orange {
	background-color: #FF7F00;
	}
	
.back.purple {
	background-color: #60F;
	}
	
.back.red {
	background-color: #B00;
	}
	
.back.silver {
	background-color: #EEE;
	}
	
.back.white {
	background-color: #FFF;
	}
	
.button, .tabs a {
	margin: 0px 0.25em;
	padding: 0.60em 1.40em;
	border-width: 0px;
	font-size: 1.40em;
	}
	
.button.gradient:hover, .button.gradient:hover {
	box-shadow: 0px 0px 0.25em #111;
	}
	
.button:active {
	box-shadow: inset 0px 0px 0.25em #000;
	}
	
.button.black:hover {
	box-shadow: inset 0px 0px 0.50em #DDD;
	}
	
.button.black:active {
	box-shadow: inset 0px 0px 0.50em #FFF;
	}
	
.button.blue {
	text-shadow: -1px -1px #056;
	}
	
.button.blue:hover {
	background-color: #1DACD6;
	text-shadow: -1px -1px #1BA8E0;
	}
	
.button.blue:active, .button.blue.active {
	background-color: #26C0FF;
	text-shadow: -1px -1px #1BA8E0;
	}
	
.button.cerulean {
	text-shadow: -1px -1px #1BA8E0;
	}
	
.button.cerulean:hover {
	background-color: #26C0FF;
	}
	
.button.cerulean:active, .button.cerulean.active {
	background-color: #007BA7;
	text-shadow: -1px -1px #056;
	} 

.button.dark-grey {
	text-shadow: -1px -1px #666; 
	}
	
.button.dark-grey:hover {
	background-color: #AAA;
	text-shadow: -1px -1px #888; 
	}
	
.button.dark-grey:active, .button.dark-grey.active {
	background-color: #BBB;
	text-shadow: -1px -1px #AAA; 
	}
	
.button.green {
	text-shadow: -1px -1px #064; 
	}
	
.button.green:hover {
	background-color: #006F48;
	text-shadow: -1px -1px #085B4E; 
	}
	
.button.green:active, .button.green.active {
	background-color: #006F48;
	text-shadow: -1px -1px #085B4E; 
	}
	
.button.light-grey {
	text-shadow: -1px -1px #AAA;
	color: #FFF;
	}
	
.button.light-grey:hover {
	background-color: #888;
	text-shadow: -1px -1px #666;
	}
	
.button.light-grey:active, .button.light-grey.active {
	background-color: #444;
	text-shadow: -1px -1px #000;
	}
	
.button.metal {
	text-shadow: -1px -1px #000; 
	}
	
.button.metal:hover {
	background-color: #444;
	text-shadow: -1px -1px #000;
	}
	
.button.metal:active, .button.metal.active {
	background-color: #666;
	text-shadow: -1px -1px #444;
	}
	
.button.neon-blue {
	text-shadow: -1px -1px #0BF; 
	}
	
.button.neon-blue:hover {
	background-color: #0BF;
	text-shadow: -1px -1px #00A0E1;
	}
	
.button.neon-blue:active, .button.neon-blue.active {
	background-color: #00FF7F;
	text-shadow: -1px -1px #00D868;
	}
	
.button.neon-green {
	text-shadow: -1px -1px #00D868;
	}
	
.button.neon-green:hover {
	background-color: #00FFF7;
	text-shadow: -1px -1px #00E8E2;
	}
	
.button.neon-green:active, .button.neon-green.active {
	background-color: #26C0FF;
	text-shadow: -1px -1px #0BF; 
	}
	
.button.neon-green {
	text-shadow: -1px -1px #00D868;
	}
	
.button.neon-green:hover {
	background-color: #00FFF7;
	text-shadow: -1px -1px #00E8E2;
	}
	
.button.neon-green:active, .button.neon-green.active {
	background-color: #26C0FF;
	text-shadow: -1px -1px #0BF; 
	}
	
.button.neon-red {
	text-shadow: -1px -1px #E00;
	}
	
.button.neon-red:hover {
	background-color: #D00;
	text-shadow: -1px -1px #B00;
	}
	
.button.neon-red:active, .button.neon-red.active {
	background-color: #B00;
	text-shadow: -1px -1px #A00; 
	}
	
.button.orange {
	text-shadow: -1px -1px #E70;
	}
	
.button.orange:hover {
	background-color: #E70;
	text-shadow: -1px -1px #D27100;
	}
	
.button.orange:active, .button.orange.active {
	background-color: #FF7800;
	text-shadow: -1px -1px #E70; 
	}
	
.button.purple {
	text-shadow: -1px -1px #50B;
	}
	
.button.purple:hover {
	background-color: #40A;
	text-shadow: -1px -1px #8048D3;
	}
	
.button.purple:active, .button.purple.active {
	background-color: #60F;
	text-shadow: -1px -1px #50B;
	}
	
.button.red {
	text-shadow: -1px -1px #A00;
	}
	
.button.red:hover {
	background-color: #D00;
	text-shadow: -1px -1px #B00;
	}
	
.button.red:active, .button.red.active {
	background-color: #F00;
	text-shadow: -1px -1px #E00; 
	}
	
.button.silver {
	text-shadow: -1px -1px #DDD;
	}
	
.button.silver:hover {
	background-color: #EEE;
	text-shadow: -1px -1px #DDD;
	}
	
.button.silver:active, .button.silver.active {
	background-color: #BBB;
	text-shadow: -1px -1px #AAA; 
	}
	
.button.white {
	text-shadow: -1px -1px #EEE;
	}
	
.button.white:hover {
	background-color: #EEE;
	text-shadow: -1px -1px #DDD;
	}
	
.button.white:active, .button.white.active {
	background-color: #DDD;
	text-shadow: -1px -1px #BBB; 
	}
	
.button.gradient.black, .button.gradient.metal {
	background: linear-gradient(top, #222 0%, #000 100%);
	background: -moz-linear-gradient(top, #222 0%, #000 100%);
	background: -webkit-linear-gradient(top, #222 0%, #000 100%);
	border-color: #222;
	}
	
.button.gradient.black:active, .button.gradient.metal:active, 
.button.gradient.black.active, .button.gradient.metal.active {
	background: linear-gradient(top, #000 0%, #222 100%);
	background: -moz-linear-gradient(top, #000 0%, #222 100%);
	background: -webkit-linear-gradient(top, #000 0%, #222 100%);
	box-shadow: inset 0px 0px 0.25em #FFF;
	}

.button.gradient.blue, .button.gradient.cerulean:active, 
.button.gradient.cerulean.active {
	background: linear-gradient(top, #1DACD6 0%, #007BA7 100%);
	background:- moz-linear-gradient(top, #1DACD6 0%, #007BA7 100%);
	background: -webkit-linear-gradient(top, #1DACD6 0%, #007BA7 100%);
	text-shadow: -1px -1px #007BA7;
	}
	
.button.gradient.blue:active, .button.gradient.cerulean, 
.button.gradient.blue.active {
	background: linear-gradient(top, #007BA7 0%, #1DACD6 100%);
	background: -moz-linear-gradient(top, #007BA7 0%, #1DACD6 100%);
	background: -webkit-linear-gradient(top, #007BA7 0%, #1DACD6 100%);
	color: #FFF;
	}
	
.button.gradient.dark-grey, .button.gradient.light-grey:active, 
.button.gradient.light-grey.active {
	background: linear-gradient(top, #222 0%, #000 100%);
	background: -moz-linear-gradient(top, #222 0%, #000 100%);
	background: -webkit-linear-gradient(top, #222 0%, #000 100%);
	text-shadow: -1px -1px #000;
	}
	
.button.gradient.light-grey:active, .button.gradient.dark-grey, 
.button.gradient.light-grey.active {
	background: linear-gradient(top, #000 0%, #222 100%);
	background: -moz-linear-gradient(top, #000 0%, #222 100%);
	background: -webkit-linear-gradient(top, #000 0%, #222 100%);
	text-shadow: -1px -1px #222;
	color: #FFF;
	}
	
.button.gradient.green {
	background: linear-gradient(top, #088C48 0%, #006F48 100%);
	background: -moz-linear-gradient(top, #088C48 0%, #006F48 100%);
	background: -webkit-linear-gradient(top, #088C48 0%, #006F48 100%);
	text-shadow: -1px -1px  #033121;
	}
	
.button.gradient.green:active, .button.gradient.green.active {
	background: linear-gradient(top, #006F48 0%, #088C48 100%);
	background: -moz-linear-gradient(top, #006F48 0%, #088C48 100%);
	background: -webkit-linear-gradient(top, #006F48 0%, #088C48 100%);
	}
	
.button.gradient.orange {
	background: linear-gradient(top, #FF7F00 0%, #D27100 100%);
	background: -moz-linear-gradient(top, #FF7F00 0%, #D27100 100%);
	background: -webkit-linear-gradient(top, #FF7F00 0%, #D27100 100%);
	text-shadow: -1px -1px #E70;
	}
	
.button.gradient.orange:active, .button.gradient.orange.active {
	background: linear-gradient(top, #D27100 0%, #FF7F00 100%);
	background: -moz-linear-gradient(top, #D27100 0%, #FF7F00 100%);
	background: -webkit-linear-gradient(top, #D27100 0%, #FF7F00 100%);
	}
	
.button.gradient.purple {
	background: linear-gradient(top, #60F 0%, #40A 100%);
	background: -moz-linear-gradient(top, #60F 0%, #40A 100%);
	background: -webkit-linear-gradient(top, #60F 0%, #40A 100%);
	text-shadow: -1px -1px #50B;
	}
	
.button.gradient.purple:active, .button.gradient.purple.active {
	background: linear-gradient(top, #40A 0%, #60F 100%);
	background: -moz-linear-gradient(top, #40A 0%, #60F 100%);
	background: -webkit-linear-gradient(top, #40A 0%, #60F 100%);
	}

.button.gradient.red {
	background: linear-gradient(top, #B00 0%, #800 100%);
	background: -moz-linear-gradient(top, #B00 0%, #800 100%);
	background: -webkit-linear-gradient(top, #B00 0%, #800 100%);
	text-shadow: -1px -1px #A00;
	}
	
.button.gradient.red:active, .button.gradient.red.active {
	background: linear-gradient(top, #800 0%, #B00 100%);
	background: -moz-linear-gradient(top, #800 0%, #B00 100%);
	background: -webkit-linear-gradient(top, #800 0%, #B00 100%);
	}
	
.button.gradient.silver {
	background: linear-gradient(top, #EFEFEF 0%, #DFDFDF 100%);
	background: -moz-linear-gradient(top, #EFEFEF 0%, #DFDFDF 100%);
	background: -webkit-linear-gradient(top, #EFEFEF 0%, #DFDFDF 100%);
	text-shadow: -1px -1px #EEE;
	color: #000;
	}
	
.button.gradient.silver:active, .button.gradient.silver.active {
	background: linear-gradient(top, #DFDFDF 0%, #EFEFEF 100%);
	background: -moz-linear-gradient(top, #DFDFDF 0%, #EFEFEF 100%);
	background: -webkit-linear-gradient(top, #DFDFDF 0%, #EFEFEF 100%);
	}
	
.tabs {
	padding-top: 1.00em;
	padding-bottom: 0.50em;
	}
	
.tabs li {
	display: inline;
	margin-right: -1px;
	padding: 0px !important;
	text-indent: 0px !important;
	}
	
.tabs a {
	margin: 0px;
	font-size: 1.00em;
	text-decoration: none;
	}

.rounded-corners {
	border-radius: 5px;
	}
	
.tabs.rounded-corners a, .rounded-top {
	border-radius: 5px 5px 0px 0px;
	}
	
.rounded-bottom {
	border-radius: 0px 0px 5px 5px;
	}
	
.gallery > * {
	margin-bottom: 0.50em !important;
	margin-right: 0.50% !important;
	padding: 0.85%;
	background-color: #000;
	vertical-align: bottom;
	}
	
.gallery.resize.twenty > * {
	width: 15.85%;
	}
	
.gallery.resize.twenty-five > * {
	width: 20.85%;
	}
	
/* Begin Slider Work */

.slider-container {
	display: table;
	padding: 0px 5.00em;
	position: relative;
	}
	
.slide-left, .slide-right {
	display: table-cell;
	padding: 0px 0.50em;
	font-size: 4.00em;
	text-decoration: none;
	vertical-align: middle;
	}
	
.slide-left:hover, .slide-right:hover {
	text-decoration: none;
	}

.slider {
	margin: 0 auto;
	text-align: center;
	}

.slider > * {
	display: none;
	margin: 0px;
	text-indent: 0px;
	list-style-type: none;
	}
	
.slider > *:first-child {
	display: initial;
	}

.slider figure {
	position: relative;
	}
	
.slider figure figcaption {
	position: absolute;
	bottom: 2px;
	padding: 2.50% 5.00%;
	width: 90.00%;
	background-image: url('../images/shadow.png');
	color: #FFF;
	font-size: 1.60em;
	line-height: 1.50em;
	text-align: left;
	}
	
.shadow {
	box-shadow: 0px 0px 0.25em #000;
	}
	
.sticky {
	display: inline-block;
	z-index: 7000;
	}
	
.video.fill {
	width: 100.00%;
	}
	
#main > footer, #footer {
	clear: both;
	padding: 1.00em;
	text-align: center;
	}

#main > footer > small, #footer > small {
	font-size: 1.00em;
	}

/* End Page Work */