/* Cascading Style Sheet Created By: PxO Ink (http://pxoink.net/) */
/* Cascading Style Sheet Copyright © 2014 PxO Ink. Most Rights Reserved. */

@media all and (max-width: 1680px) {
	.single.eighty {
		min-width: 1024px;
		}	
	}

@media all and (max-width: 1440px) {
	
	}
	
@media all and (max-width: 1280px) {
	.single.sixty {
		min-width: 820px;
		}
	}

@media all and (max-width: 1152px) {
	.single.eighty {
		width: 100.00%;
		min-width: 640px;
		}
	}

@media all and (max-width: 1024px) {
	.single.forty {
		width: 100.00%;
		min-width: 640px;
		}

	.column.margin.horizontal-one {
		margin-left: 001.25%;
		margin-right: 001.25%;
		}
		
	.column.margin.horizontal-two {
		margin-left: 002.49%;
		margin-right: 002.49%;
		}
		
	.column.margin.column-left {
		margin-left: 002.49%;
		}
		
	.column.margin.column-right {
		margin-right: 002.49%;
		}
		
	.column.padding.horizontal-one {
		padding-left: 001.25%;
		padding-right: 001.25%;
		}
		
	.column.padding.horizontal-two {
		padding-left: 002.49%;
		padding-right: 002.49%;
		}
		
	.column.padding.column-left {
		padding-left: 002.49%;
		}
		
	.column.padding.column-right {
		padding-right: 002.49%;
		}
		

	}

@media all and (max-width: 940px) {
	.single.sixty {
		width: 100.00%;
		min-width: 640px;
		}
	}
	
@media all and (max-width: 820px) {

	}
	
@media all and (max-width: 768px) {
	.column.one {
		width: 010.59%;
		}

	.column.two {
		width: 014.94%;
		}
		
	.column.three {
		width: 019.30%;
		}
		
	.column.four {
		width: 023.66%;
		}
		
	.column.five {
		width: 028.01%;
		}
		
	.column.six {
		width: 032.37%;
		}
		
	.column.seven {
		width: 036.73%;
		}
		
	.column.eight {
		width: 041.09%;
		}
		
	.column.nine {
		width: 045.44%;
		}
		
	.column.ten {
		width: 049.80%;
		}
		
	.column.eleven {
		width: 054.16%;
		}
		
	.column.twelve {
		width: 058.52%;
		}
		
	.column.thirteen {
		width: 062.88%;
		}
		
	.column.fourteen {
		width: 067.23%;
		}
		
	.column.fifteen {
		width: 071.59%;
		}
		
	.column.sixteen {
		width: 075.95%;
		}
		
	.column.seventeen {
		width: 080.30%;
		}
		
	.column.eighteen {
		width: 084.66%
		}
		
	.column.nineteen {
		width: 089.02%;
		}
	}
	
@media all and (max-width: 720px) {
	
	}
	
@media all and (max-width: 640px) {
	.single.eighty, .single.sixty, .single.forty {
		width: 100.00%;
		min-width: 320px;
		}
		
	.column.margin.horizontal-one {
		
		}
		
	.column.margin.horizontal-two {
		
		}
		
	.column.margin.column-left {
		
		}
		
	.column.margin.column-right {
		
		}
		
	.column.padding.horizontal-one {
		
		}
		
	.column.padding.horizontal-two {
		
		}
		
	.column.padding.column-left {
		
		}
		
	.column.padding.column-right {
		
		}
		
	.column.one {
		width: 016.19%;
		}

	.column.two {
		width: 019.92%;
		}
		
	.column.three {
		width: 023.66%;
		}
		
	.column.four {
		width: 027.39%;
		}
		
	.column.five {
		width: 031.13%;
		}
		
	.column.six {
		width: 034.86%;
		}
		
	.column.seven {
		width: 038.60%;
		}
		
	.column.eight {
		width: 042.33%;
		}
		
	.column.nine {
		width: 046.07%;
		}
		
	.column.ten {
		width: 049.80%;
		}
		
	.column.eleven {
		width: 053.54%;
		}
		
	.column.twelve {
		width: 057.27%;
		}
		
	.column.thirteen {
		width: 061.01%;
		}
		
	.column.fourteen {
		width: 064.74%;
		}
		
	.column.fifteen {
		width: 068.48%;
		}
		
	.column.sixteen {
		width: 072.21%;
		}
		
	.column.seventeen {
		width: 075.95%;
		}
		
	.column.eighteen {
		width: 079.68%
		}
		
	.column.nineteen {
		width: 083.42%;
		}
	}
	
@media all and (max-width: 540px) {
	
	}
	
@media all and (max-width: 480px) {
	.column {
		width: 100.00% !important;
		}
	}
	
@media all and (max-width: 320px) {
	
	}