/*
 * Name: Colors
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: © 2014 PxO Ink. Some Rights Reserved.
 */
 
//Colors 
$colors:	(
				white:			#FFF,
				silver:			#EEE,
				dark-silver:	#DDD,
				grey:			#BBB,
				dark-grey:		#888,
				metal:			#555,
				shadow:			#444,
				dark:			#222,
				darker:			#111,
				black:			#000,
				success:		#DFE,
				warning:		#FFC,
				error:			#FDD,
				message:		#8CF,
				blue:			#007BA7,
				brown:			#413836,
				cerulean:		#1DACD6,
				frost:			#6D9BC3,
				green:			#088C48,
				gold:			#E6C700,
				ice:			#BBDFFF,
				neon-blue:		#26C0FF,
				neon-green:		#00FF8F,
				neon-red:		#F00,
				orange:			#FF7F00,
				purple:			#60F,
				red:			#B00,
				yellow:			#FFF000		
			);
			
//Set Colors 
$white:			map-get($colors, "white");
$silver:		map-get($colors, "silver");
$dark-silver:	map-get($colors, "dark-silver");
$grey:			map-get($colors, "grey");
$dark-grey:		map-get($colors, "dark-grey");
$metal:			map-get($colors, "metal");
$shadow:		map-get($colors, "shadow");
$dark:			map-get($colors, "dark");
$darker:		map-get($colors, "darker");
$black:			map-get($colors, "black");
$success:		map-get($colors, "success");
$warning:		map-get($colors, "warning");
$error:			map-get($colors, "error");
$message:		map-get($colors, "message");
$blue:			map-get($colors, "blue");
$brown:			map-get($colors, "brown");
$cerulean:		map-get($colors, "cerulean");
$frost:			map-get($colors, "frost");
$green:			map-get($colors, "green");
$gold:			map-get($colors, "gold");
$ice:			map-get($colors, "ice");
$neon-blue:		map-get($colors, "neon-blue");
$neon-green:	map-get($colors, "neon-green");
$neon-red:		map-get($colors, "neon-red");
$orange:		map-get($colors, "orange");
$purple:		map-get($colors, "purple");
$red:			map-get($colors, "red");
$yellow:		map-get($colors, "yellow");

//Contrasting Colors 
$contrasts:	(
				white:			$black,
				silver:			$black,
				dark-silver:	$darker,
				grey:			$darker,
				dark-grey:		$darker,
				metal:			$silver,
				shadow:			$silver,
				dark:			$silver,
				darker:			$white,
				black:			$white,
				success:		$black,
				warning:		$black,
				error:			$black,
				message:		$black,
				blue:			$silver,
				brown:			$silver,
				cerulean:		$black,
				frost:			$black,
				green:			$black,
				gold:			$darker,
				ice:			$black,
				neon-blue:		$black,
				neon-green:		$black,
				neon-red:		$black,
				orange:			$black,
				purple:			$silver,
				red:			$darker,
				yellow:			$black
			);

//Offsets 
$offsets: (
				white:			$silver,
				silver:			$white,
				dark-silver:	$grey,
				grey:			$dark-silver,
				dark-grey:		$metal,
				metal:			$dark-grey,
				shadow:			$dark,
				dark:			$shadow,
				darker:			$black,
				black:			$darker,
				success:		#F66,
				warning:		#FC9,
				error:			#F66,
				message:		#068,
				blue:			$cerulean,
				brown:			#413836,
				cerulean:		$frost,
				frost:			$ice,
				green:			#0F0,
				gold:			$yellow,
				ice:			$blue,
				neon-blue:		$neon-green,
				neon-green:		$neon-blue,
				neon-red:		$red,
				orange:			#FFB489,
				purple:			#8880BD,
				red:			#FF6060,
				yellow:			$gold
			);

//For Each Color 
@each $key, $value in $colors {
	//Class 
	.#{"" + $key} {
		//Declare variables.
		$color: map-get($colors, $key); 
		$contrast: map-get($contrasts, $key);
		$offset: map-get($offsets, $key);
		
		//If there is a color.
		@if $color != null {
			//Set the color.
			color: $color;
			
			//Add Shadow 
			&.shadow {
				text-shadow: 0px -0.10em 0px darken($color, 10.00%);
				}
			
			//Add background.
			&.background {
				background-color: $color;
				color: map-get($contrasts, $key);
				}
			
			//Add button.
			&.button {
				@extend .base-margin;
				@extend .base-padding;
				@extend .#{"" + $key}.background;
				@extend .default;
				text-decoration: none;
				}
			
			//Add button hover.
			&.button:hover {
				background-color: $offset;
				}
			
			//Add active button.
			&.button:active {
				background-color: darken($color, 10.00%);
				}
			
			//If the offset value is not null.
			@if $offset != null {
				//Add button with gradient.
				&.button.gradient {
					background: linear-gradient(top, $color 0%, $offset 100%);
					background: -moz-linear-gradient(top, $color 0%, $offset 100%);
					background: -webkit-linear-gradient(top,$color 0%, $offset 100%);
					}
				}
			
			//Add button with border.
			&.button.border {
				border-width: 0.10em;
				border-color: darken($color, 25.00%);
				border-style: solid;
				box-shadow: inset 0px 0.10em 0px lighten($color, 25.00%);
				}
			
			//Add active button with border.
			&.button.border:active {
				border-color: lighten($color, 10.00%);
				box-shadow: inset 0px 0.10em 0px darken($color, 25.00%);
				}
			
			//Add button with radius.
			&.button.radius {
				border-radius: 0.80em;
				}
			
			//If the contrast value is not null. 
			@if $contrast != null {
				//Add a button shadow.
				&.button.shadow {
					text-shadow: 0px -0.10em 0px darken($contrast, 10.00%);
					}
				}
			}
		}
}