/**
 * Name: Columns
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: © 2014 PxO Ink. Some Rights Reserved.
 **/
		
.column {
	//For each column.
	@for $i from 0 through $columns {
		@each $key, $value in $resolutions {
			&.#{"" + $key}-#{"" + $i} {
				width: toPercent(calcCol($i, $key));
				
				//If this is zero.
				@if ($i == 0) {
					@extend .nod;
				}
				
				&.margin {
					&-#{"" + $i} {
						margin: 0px toPercent(calcCol($i, $key));
						}
				
					&-left-#{"" + $i} {
						margin-left: toPercent(calcCol($i, $key));
						}
					
					&-right-#{"" + $i} {
						margin-right: toPercent(calcCol($i, $key));
						}
					}
					
				&.padding {
					&-#{"" + $i} {
						padding: 0px toPercent(calcCol($i, $key));
						}
				
					&-left-#{"" + $i} {
						padding-left: toPercent(calcCol($i, $key));
						}
					
					&-right-#{"" + $i} {
						padding-right: toPercent(calcCol($i, $key));
						}
					}
				}
		}
	}
	
	&.left {
		float: left;
		}
	
	&.right {
		float: right;
		}
	}