/**
 * Name: Fonts
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: © 2014 PxO Ink. Some Rights Reserved.
 */

/* Font Instructions */

.normal {
	font-style: normal;
	}

.healthy {
	font-weight: normal;
	}

.italic {
	font-style: italic;
	}
	
.oblique {
	font-style: oblique;
	}
	
.lighter {
	font-weight: lighter;
	}
	
.bold {
	font-weight: bold;
	}
	
.bolder {
	font-weight: bolder;
	}
	
.micro {
	font-size: 0.80em;
	}
	
.base {
	font-size: 1.00em;
	}
	
.small {
	font-size: 1.20em;
	}
	
.default {
	font-size: 1.40em;
	}
	
.husky {
	font-size: 1.60em;
	}
	
.large {
	font-size: 1.80em;
	}
	
.heading {
	font-size: 2.40em;
	}
	
.mega {
	font-size: 2.80em;
	}
	
.huge {
	font-size: 4.00em;
	}
	
.collosal {
	font-size: 5.80em;
	}
	
.single {
	line-height: 1.00em;
	}

.one-half {
	line-height: 1.50em;
	}
	
.double {
	line-height: 2.00em;
	}
	
/* Font Face Shims */

@font-face {
	font-family: 'Binz';
	src: url('../fonts/binz-medium/Binz.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	}
	
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;
	}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;;
	}
	
@font-face {
	font-family: 'Great Vibes';
	src: url('../fonts/rebecca/GreatVibes-Regular.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
	}
	
@font-face {
	font-family: 'La-chata';
	src: url('../fonts/la-chata/La-chata-normal.eot');
	src: url('../fonts/la-chata/La-chata-normal.woff') format('woff'), 
	url('../fonts/la-chata/La-chata-normal.ttf') format('truetype'), url('../fonts/la-chata/La-chata-normal.svg') format('svg');
	font-style: normal;
	font-weight: normal;
	}
	
@font-face {
	font-family: 'LetsTrace';
	src: url('../fonts/lets-trace/LetsTracebasic.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'LetsTrace';
	src: url('../fonts/lets-trace/LetsTraceItalic.otf') format('opentype');
	font-style: italic;
	font-weight: normal;
	}

@font-face {
	font-family: 'LetsTraceRuled';
	src: url('../fonts/lets-trace/LetsTraceRuledMedium.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
	}
	
@font-face {
	font-family: 'Open Baskerville';
	src: url('../fonts/open-baskerville/OpenBaskerville-0.0.53.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
	}

	
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), local('OpenSans'), url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;;
	}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;;
	}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: bolder;
	}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bolder;
	}

@font-face {
	font-family: 'Trabajo';
	src: url('../fonts/trabajo/Trabajo.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
	}