/**
 * Name: Framework
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: © 2014 PxO Ink. Some Rights Reserved.
 **/

//Utility classes.
.clear {
	clear: both;
	}
	
.nod {
	display: none;
	}
	
.req {
	color: $neon-red;
	}
	
.pointer {
	cursor: pointer;
	}
	
.no-margin {
	margin: 0px;
	}
	
.base-margin {
	margin: 0.50em 1.50em;
	}
	
.plus-margin {
	margin: 1.50em 2.50em;
	}
	
.no-padding {
	padding: 0px;
	}
	
.base-padding {
	padding: 0.50em 1.50em;
	}
	
.plus-padding {
	padding: 1.50em 2.50em;
	}
	
.base-margin-down {
	margin-bottom: 0.50em;
	}
	
.normal {
	@extend .base-margin-down;
	@extend .default;
	@extend .one-half-space;
	}
	
.page {
	@extend .clearfix;
	margin: 0 auto;
	width: 100.00%;
	min-width: map-get($resolutions, "max");
	
	&.twenty {
		width: 20.00%;
		min-width: map-get($resolutions, "mobile");
		}
	
	&.forty {
		width: 40.00%;
		min--width: map-get($resolutions, "standard");
		}
	
	&.sixty {
		width: 60.00%;
		min-width: map-get($resolutions, "tablet");
		}
	
	&.eighty {
		width: 80.00%;
		min-width: map-get($resolutions, "wide");
		}
	}
	
.rounded-corners {
	border-radius: 0.04em;
	}
	
//Base settings.
a {
	color: map-get($colors, "blue");
	}
	
a:hover {
	color: map-get($offsets, "blue");
	}

abbr {
	border-width: 0px;
	border-bottom: 1px;
	border-color: inherit;
	border-style: dotted;
	}
	
blockquote {
	position: relative;
	@extend .normal;
	@extend .plus-margin;
	}
	
blockquote:before, blockquote:after {
	position: absolute;
	@extend .huge;
	}
	
blockquote:before {
	content: "\201C";
	left: -0.50em;
	}
	
blockquote:after {
	content: '\201D';
	bottom: 0.05em;
	right: -0.50em;
	}
	
blockquote span {
	display: block;
	margin-top: 0.50em;
	text-align: right;
	}
	
button {
	@extend .pointer;
	}
	
code {
	display: block;
	@extend .plus-padding;
	max-width: 100.00%;
	@extend .default;
	counter-reset: linecounter;
	overflow: scroll;
	white-space: pre;
	}
	
code > span {
	counter-increment: linecounter;
	}
	
code > span:before {
	content: counter(linecounter);
	padding-right: 0.50em;
	margin-right: 0.50em;
	border-width: 0px;
	border-right: 0.40em;
	border-color: $dark-grey;
	border-style: solid;
	opacity: 0.40;
	}
	
h1 {
	@extend .base-margin-down;
	@extend .huge;
	}
	
h2 {
	@extend .base-margin-down;
	@extend .mega;
	}
	
h3, fieldset legend {
	@extend .base-margin-down;
	@extend .heading;
	}
	
h4 {
	@extend .base-margin-down;
	@extend .large;
	}
	
h5 {
	@extend .base-margin-down;
	@extend .husky;
	}
	
h6 {
	@extend .base-margin-down;
	@extend .default;
	}
	
iframe, img, object {
	max-width: 100.00%;
	}
	
label {
	@extend .normal;
	}
	
input {
	@extend .normal;
	}
	
textarea {
	@extend .normal;
	}
	
input[type=text], input[type=password], input[type=email], input[type=date], input[type=datetime], 
input[type=datetime-local], input[type=search], input[type=tel], input[type=url], input[type=month], 
input[type=week], input[type=number], input[type=range], input[type=color], select, textarea, .input {
	margin-bottom: 0.50em;
	padding: 1.00%;
	max-width: 98.00%;
	border-width: 1px;
	border-style: solid;
	border-color: $grey;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: sans-serif, serif;
	}
	
input[readonly] {
	background-color: buttonface;
	}
	
input[type=submit] {
	@extend .pointer;
	}
	
input[type=file] {
	padding: 0.25em;
	}
	
input[type=image] {
	vertical-align: top;
	}
	
input[type=reset] {
	@extend .pointer;
	}
	
input.datepicker {
	@extend .pointer;
	}
	
fieldset, fieldset > legend {
	margin: 0.50em 0px;
	border-width: 0px;
	}
	
fieldset > legend {
	@extend .normal;
	}
	
form label {
	padding: 0.50em;
	padding-left: 0px;
	}
	
form label[for] {
	@extend .pointer;
	}
	
form > label {
	display: inline-block;
	}
	
p {
	@extend .normal;
	}
	
ul, ol {
	margin-left: 1.00em;
	@extend .normal;
	}
	
ul > li, ol > li {
	padding-left: 1.00em;
	list-style-position: inside;
	text-indent: -1.00em;
	}
	
li li {
	font-size: 1.00em;
	line-height: 1.00em;
	}
	
nav ul {
	margin-left: 0px;
	padding: 0px;
	list-style-type: none;
	}
	
nav > ul ul {
	@extend .nod;
	}
	
nav ul > li {
	display: inline;
	padding: 0px;
	}
	
table {
	width: 100.00%;
	}
	
table caption, table th, table thead td, table tbody th, table tbody td {
	text-align: left;
	}
	
table thead td input, table tbody td input, table thead td select, table tbody td select, table thead td textarea, 
table tbody td textarea {
	
	}

//Page settings.
