//Name: Fonts Declarations
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

@font-face {
	font-family: "Nimbus Sans L";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_regular.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L";
	font-style: italic;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L";
	font-style: italic;
	font-weight: bold;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold-italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_regular-condensed.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: bold;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold-condensed.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: italic;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_regular-condensed-italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: bold;
	font-weight: italic;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold-condensed-italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Open Baskerville";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/open-baskerville/OpenBaskerville-0.0.53.otf") format("opentype");
}
	
@font-face {
	font-family: "Pinyon Script";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/fally-pin/PinyonScript-Regular.ttf") format("truetype");
}