//Name: Grid Variables
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Declare the number of columns to be used.
$columns:				20;

//Declare the maximum width for a collection of columns.
$collectionWidth:		99.88;

//Declare the total gutter.
$gutterWidth: 			1.00;

//Set the desktop-mobile breaking size.
$desktopMobileBreak:	map-get($resolutions, "standard");