//Name: Table
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

%table {
	max-width: 100.00%;
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0;
	
	tr {
		td, th {
			padding: toRem($std-padding);
			text-align: left;
		}
	}
	
	&.extend {
		width: 100.00%;
	}
	
	&.striped {
		border-width: toPx($border-width);
		border-color: color($white, 'offset');
		border-style: $border-style;
	
		thead {
			tr {
				&:nth-child(odd) {
					background-color: color($white, 'offset');
				}
			}
		}
	
		tbody {
			tr {
				&:nth-child(even) {
					background-color: color($white, 'offset');
				}
			}
		}
	}
	
	&.transact {
		tr {
			th:first-child, td:first-child {
				text-align: left;
			}
			
			th:last-child, td:last-child {
				text-align: right;
			}
		}
	}
	
	@media all and (max-width: toPx(map-get($resolutions, 'std'))) {
		overflow-x: auto;
	}
}