//Name: Menu Navigation Vertical
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

%nav {
	&.vertical {
		display: inline-block;
		
		h6 {
			float: none;
			margin: 0;
		}
		
		ul {
			float: none;
			li {
				display: block;
				float: none;
				margin-right: 0;
				
				a {
					display: block;
					padding-right: toRem($std-padding / 2);
				}
			}
			
			ul {
				top: 0;
				left: 100.00%;
			}
		}
	}
}