//Name: Alert (Callout)
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

%alert {
	margin-bottom: toRem($std-margin);
	padding: toRem($std-padding / 2);
	border-width: toPx($border-width);
	border-style: solid;
	
	//For each alert type.
	@each $key, $value in $alerts {
		&.#{"" + $key} {
			@include alert-design($value);
		}
	}
	
	&.borderless {
		border-width: 0; 
	}
	
	&.dismiss {
		position: relative;
		cursor: pointer; 
	
		&:after {
			content: "\00d7";
			position: absolute;
			top: toRem($std-margin / 4);
			right: toRem($std-margin / 2); 
			line-height: $single;
			opacity: 0.50;
		}
	}
}
	