//Name: Alert Mixins
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Calculates a color based on variables.
//
//@param text $color

@mixin alert-design($color) {
	background-color: lighten(color($color), 34.00%);
	border-color: color($color, 'offset');
	color: darken(color($color), 34.00%);
}