//Name: Alert Mixins
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Calculates a color based on variables.
//
//@param text $color

@mixin alert-offset($color) {
	background-color: lighten(map-get($colors, $color), 34.00%);
	border-color: map-get($offsets, $color);
	color: darken(color($color), 34.00%);
}