/*
 * Name: Alerts
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: © 2014 PxO Ink. Some Rights Reserved.
 */

.alert {
	position: relative;
	@extend .base-margin;
	@extend .base-padding;
	border-width: 1px;
	border-style: solid;
	
	> * {
		margin: 0px;
		}
	
	&.success {
		@include back-offset-box("success");
		}
	
	&.warning {
		@include back-offset-box("warning");
		}

	&.error {
		@include back-offset-box("error");
		}
	
	&.message {
		@include back-offset-box("message");
		}
		
	&.dismiss {
		@extend .pointer;
		
		&:after {
			position: absolute;
			top: 0.25em;
			right: 0.50em;
			content: '\00d7';
			color: $darker;
			@extend .husky;
			}
		}
	}