//Name: Colors
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2014 PxO Ink. Most Rights Reserved.

//For Each Color.
@each $key, $value in $colors {
	//Build Class.
	.#{"" + $key} {
		//Declare variables.
		$color: map-get($colors, $key); 
		
		//If there is a color.
		@if $color != null {
			//Declare additional colors.
			$contrast: map-get($contrasts, $key);
			$offset: map-get($offsets, $key);
			
			//Set the color.
			color: $color;
			
			//For anchors.
			a & {
				&:hover {
					color: $offset;
				}
			}
				
			//For borders.
			&-border {
				border-color: $color;
			}
			
			//Add shadow.
			&.text-shadow {
				text-shadow: 0px 1px 0px transparentize(lighten($offset, 50.00%), 0.50);
				
				&-inverse {
					text-shadow: 0px 1px 0px transparentize(darken($offset, 50.00%), 0.50);
				}
			}
			
			//Add background.
			&.background {
				background-color: $color;
				color: $contrast;
				
				//Set for children.
				& a {
					color: $contrast;
					
					&:hover {
						color: $offset;
					}
				}
			}
				
			//For navigation elements. 
			nav & {
				> ul {
					background-color: $color;
					color: $contrast;
				}
			}
					
			ul & {
				> ul {
					background-color: $color;
					color: $contrast;
				}
			}
				
			&.pagination {
				a {
					color: $color;
					
					&:hover {
						color: $offset;
					}
				}
			
				li.current a {
					background-color: $color;
					color: $contrast;
				}
			}
			
			//Add button.
			&.button {
				@extend .#{"" + $key}.background;
				@extend .default;
				text-decoration: none;
				
				//Add hover.
				&:hover {
					background-color: $offset;
					color: $contrast;
				}
				
				//Add active.
				&:active {
					background-color: darken($color, 10.00%);
					color: $contrast;
				}
				
				//Add border.
				&.border {
					border-width: 0.10em;
					border-color: darken($color, 40.00%);
					border-style: solid;
					box-shadow: inset 0px 0.10em 0px lighten($color, 25.00%);
					
					//Add active button with border.
					&:active {
						border-color: lighten($color, 10.00%);
						box-shadow: inset 0px 0.10em 0px darken($color, 25.00%);
					}
				}
			}
			
			//Add button with gradient.
			&.button.gradient {
				background: linear-gradient(top, $color 0%, $offset 100%);
				background: -moz-linear-gradient(top, $color 0%, $offset 100%);
				background: -webkit-linear-gradient(top,$color 0%, $offset 100%);
			}
		}
	}
}