/**
 * Name: Columns
 * Author: PxO Ink
 * License: The MIT License (MIT)
 * Copyright: © 2014 PxO Ink. Some Rights Reserved.
 **/
		
.column {
	//For each resolution.
	@each $key, $value in $resolutions {
		//For each column.
		@for $i from 0 through $columns {
			&.#{"" + $key} {
				&-#{"" + $i} {
					width: toPercent(calcCol($i, $key));
					
					//If this is zero.
					@if ($i == 0) {
						@extend .nod;
					}
					}
				}
		}
	}
	
	&.left {
		float: left;
		
		&.clear {
			clear: left;
			}
		}
	
	&.right {
		float: right;
		
		&.clear {
			clear: right;
			}
		}
	}
	
//For each resolution.
@each $key, $value in $resolutions {
	//For each column.
	@for $i from 0 through $columns {
		//Add margins. 
		.margin-#{"" + $key} {
			&-#{"" + $i} {
				margin: toPercent(calcCol($i, $key));
				}
				
			&-ends-#{"" + $i} {
				margin-top: toPercent(calcCol($i, $key));
				margin-bottom: toPercent(calcCol($i, $key));
				}
				
			&-sides-#{"" + $i} {
				margin-left: toPercent(calcCol($i, $key));
				margin-right: toPercent(calcCol($i, $key));
				}
				
			&-top-#{"" + $i} {
				margin-left: toPercent(calcCol($i, $key));
				}
			
			&-bottom-#{"" + $i} {
				margin-right: toPercent(calcCol($i, $key));
				}
		
			&-left-#{"" + $i} {
				margin-left: toPercent(calcCol($i, $key));
				}
			
			&-right-#{"" + $i} {
				margin-right: toPercent(calcCol($i, $key));
				}
				
			&-half-#{"" + $i} {
				margin: toPercent(calcCol(0.5, $key));
				}
			
			&-ends-#{"" + $i}-half {
				margin-top: toPercent(calcCol(0.5 * $i, $key));
				margin-bottom: toPercent(calcCol(0.5 * $i, $key));
				}
				
			&-sides-#{"" + $i}-half {
				margin-left: toPercent(calcCol(0.5 * $i, $key));
				margin-right: toPercent(calcCol(0.5 * $i, $key));
				}
				
			&-top-#{"" + $i}-half {
				margin-left: toPercent(calcCol(0.5 * $i, $key));
				}
			
			&-bottom-#{"" + $i}-half {
				margin-right: toPercent(calcCol(0.5 * $i, $key));
				}
		
			&-left-#{"" + $i}-half {
				margin-left: toPercent(calcCol(0.5 * $i, $key));
				}
			
			&-right-#{"" + $i}-half {
				margin-right: toPercent(calcCol(0.5 * $i, $key));
				}
			}
		
		//Add paddings. 
		.padding-#{"" + $key} {
			&-#{"" + $i} {
				padding: toPercent(calcCol($i, $key));
				}
		
			&-ends-#{"" + $i} {
				padding-top: toPercent(calcCol($i, $key));
				padding-bottom: toPercent(calcCol($i, $key));
				}
				
			&-sides-#{"" + $i} {
				padding-left: toPercent(calcCol($i, $key));
				padding-right: toPercent(calcCol($i, $key));
				}
				
			&-top-#{"" + $i} {
				padding-top: toPercent(calcCol($i, $key));
				}
			
			&-bottom-#{"" + $i} {
				padding-bottom: toPercent(calcCol($i, $key));
				}
		
			&-left-#{"" + $i} {
				padding-left: toPercent(calcCol($i, $key));
				}
			
			&-right-#{"" + $i} {
				padding-right: toPercent(calcCol($i, $key));
				}
				
			&-#{"" + $i}-half {
				padding: toPercent(calcCol(0.5 * $i, $key));
				}
		
			&-ends-#{"" + $i}-half {
				padding-top: toPercent(calcCol(0.5 * $i, $key));
				padding-bottom: toPercent(calcCol(0.5 * $i, $key));
				}
				
			&-sides-#{"" + $i}-half {
				padding-left: toPercent(calcCol(0.5 * $i, $key));
				padding-right: toPercent(calcCol(0.5 * $i, $key));
				}
				
			&-top-#{"" + $i}-half {
				padding-top: toPercent(calcCol(0.5 * $i, $key));
				}
			
			&-bottom-#{"" + $i}-half {
				padding-bottom: toPercent(calcCol(0.5 * $i, $key));
				}
		
			&-left-#{"" + $i}-half {
				padding-left: toPercent(calcCol(0.5 * $i, $key));
				}
			
			&-right-#{"" + $i}-half {
				padding-right: toPercent(calcCol(0.5 * $i, $key));
				}
			}
	}
}