//Name: Fonts
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2014 PxO Ink. Most Rights Reserved.

body {
	//For each resolution.
	@each $key, $value in $resolutions {
		@media all and (max-width: map-get($resolutions, $key) + "px") {
			font-size: map-get($resoFontSizes, $key);
		}
	}
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}
	
.align-right {
	text-algin: right;
}

.normal {
	font-style: normal;
}

.healthy {
	font-weight: normal;
}

.italic {
	font-style: italic;
}
	
.oblique {
	font-style: oblique;
}
	
.lighter {
	font-weight: lighter;
}
	
.bold {
	font-weight: bold;
}
	
.bolder {
	font-weight: bolder;
}
	
.micro {
	font-size: $micro;
}
	
.base {
	font-size: $base;
}
	
.small {
	font-size: $small;
}
	
.default {
	font-size: $default;
}
	
.husky {
	font-size: $husky;
}
	
.large {
	font-size: $large;
}
	
.heading {
	font-size: $heading;
}
	
.mega {
	font-size: $mega;
}
	
.huge {
	font-size: $huge;
}
	
.collosal {
	font-size: $collosal;
}
	
.single {
	line-height: 1.00em;
}

.one-half-space {
	line-height: 1.50em;
}
	
.double-space {
	line-height: 2.00em;
}
	
/* Font Face Shims */
	
@font-face {
	font-family: "Nimbus Sans L";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_regular.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L";
	font-style: italic;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L";
	font-style: italic;
	font-weight: bold;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold-italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_regular-condensed.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: bold;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold-condensed.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: italic;
	font-weight: normal;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_regular-condensed-italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Nimbus Sans L Condensed";
	font-style: bold;
	font-weight: italic;
	src: url("../fonts/nimbus-sans-l/nimbus-sans-l_bold-condensed-italic.ttf") format("truetype");
}
	
@font-face {
	font-family: "Open Baskerville";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/open-baskerville/OpenBaskerville-0.0.53.otf") format("opentype");
}
	
@font-face {
	font-family: "Pinyon Script";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/fally-pin/PinyonScript-Regular.ttf") format("truetype");
}