//Name: Framework
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2014 PxO Ink. Most Rights Reserved.

//Utility classes.
.clear {
	clear: both;
}
	
.nod {
	display: none;
}
	
.req {
	color: #F00;
}
	
.pointer {
	cursor: pointer;
}
	
.no-margin {
	margin: 0px;
}

.half-margin {
	margin: 0px 0.50em;
}

.base-half-margin {
	margin: 0.50em;
}

.base-half-ends-margin {
	margin: 0.50em 0px;
}
	
.base-margin {
	margin: 0.50em 1.50em;
}

.base-margin-left {
	margin-left: 0.50em;
}

.base-margin-right {
	margin-right: 0.50em;
}

.base-margin-half-top {
	margin-top: 0.25em;
}
	
.base-margin-down {
	margin-bottom: 0.50em;
}
	
.plus-margin {
	margin: 1.50em 2.50em;
}

.double-plus-margin {
	margin: 2.50em 5.00em;
}
	
.no-padding {
	padding: 0px;
}

.half-padding {
	padding: 0px 0.50em;
}

.base-half-padding {
	padding: 0.50em;
}

.base-half-ends-padding {
	padding: 0.50em 0px;
}
	
.base-padding {
	padding: 0.50em 1.50em;
}
	
.plus-padding {
	padding: 1.50em 2.50em;
}

.double-plus-padding {
	padding: 2.50em 5.00em;
}
	
.normal {
	@extend .base-margin-down;
	@extend .default;
	@extend .one-half-space;
}
	
.page {
	@extend .cfx;
	margin: 0 auto;
	width: 100.00%;
	min-width: map-get($resolutions, "full") + px;
	
	&.eighty {
		width: 80.00%;
		min-width: map-get($resolutions, "ultra") + px;
	}
	
	&.sixty {
		width: 60.00%;
		min-width: map-get($resolutions, "wide") + px;
	}
	
	&.forty {
		width: 40.00%;
		min-width: map-get($resolutions, "standard") + px;
	}
	
	&.twenty {
		width: 20.00%;
		min-width: map-get($resolutions, "mobile") + px;
	}
}
	
.rounded-corners {
	border-radius: 0.40em;
}
	
.rounded-top {
	border-radius: 0.40em 0.40em 0px 0px;
}
	
.rounded-bottom {
	border-radius: 0px 0px 0.40em 0.40em;
}

/* Base and Page Settings */	

a {
	color: map-get($colors, "blue");

	&:hover {
		color: map-get($offsets, "blue");
	}
}

abbr {
	border-width: 0px;
	border-bottom: 1px;
	border-color: inherit;
	border-style: dotted;
}
	
blockquote {
	position: relative;
	@extend .normal;
	@extend .plus-margin;
	
	&:before, &:after {
		position: absolute;
		@extend .huge;
	}
	
	&:before {
		content: "\201C";
		left: -0.50em;
	}
	
	&:after {
		content: '\201D';
		bottom: 0.05em;
		right: -0.50em;
	}
	
	span {
		display: block;
		margin-top: 0.50em;
		text-align: right;
	}
}
	
.button {
	display: inline-block;
	@extend .base-margin-down;
	margin-right: 1.50em;
	@extend .base-padding;
	@extend .pointer;
	border-width: 0px;
}
	
button {
	@extend .button;
}

pre {
	@extend .base-padding;
	max-height: 50vh;
	@extend .default;
	overflow: auto;
	
	code {
		padding: 0px;
		counter-reset: linecounter;
	
		> span {
			display: inline-block;
			width: 100.00%;
			counter-increment: linecounter;
			
			&:before {
				content: counter(linecounter);
				margin-left: -1.00em;
				margin-right: 0.20em;
				padding-right: 0.40em;
				border-width: 0px;
				border-right: 0.40em;
				border-color: lighten($baseContrast, 10.00%);
				border-style: solid;
				opacity: 0.40;
			}
		}
	}
}

code {
	@extend .half-padding;
	display: inline;
	@extend .base;
}

pre, code {
	max-width: 100.00%;
	background-color: $baseOffset;
	color: lighten($baseContrast, 10.00%);
}
	
/* Headings */

h1, h2, h3, h4, h5, h6, fieldset legend {
	@extend .base-margin-half-top;
	@extend .base-margin-down;
}
	
h1 {
	@extend .huge;
}
	
h2 {
	@extend .mega;
}
	
h3 {
	@extend .heading;
}
	
h4 {
	@extend .large;
}
	
h5, fieldset legend {
	@extend .husky;
}
	
h6 {
	@extend .default;
}
	
iframe, img, object {
	max-width: 100.00%;
}
	
label {
	@extend .normal;
}
	
/* Inputs */
	
.input {
	margin-bottom: 0.50em;
	padding: 1.00% 2.00%;
	max-width: 96.00%;
	border-width: 1px;
	border-style: solid;
	border-color: $grey;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: sans-serif, serif;
}
	
input[type=text], input[type=password], input[type=email], input[type=date], input[type=datetime], 
input[type=datetime-local], input[type=search], input[type=tel], input[type=url], input[type=month], 
input[type=week], input[type=number], input[type=range], input[type=color], select, textarea {
	@extend .input;
	@extend .normal;
}
	
input[readonly] {
	background-color: buttonface;
}
	
input[type=submit] {
	@extend .button;
}
	
input[type=file] {
	padding: 0.25em;
}
	
input[type=image] {
	vertical-align: top;
}
	
input[type=reset] {
	@extend .pointer;
}
	
input.datepicker {
	@extend .pointer;
}
	
fieldset, fieldset > legend {
	margin: 0.50em 0px;
	border-width: 0px;
}
	
fieldset > legend {
	@extend .normal;
}

form {
	label {
		margin-bottom: 0.25em;
		margin-right: 0.25em;
		
		&[for] {
			@extend .pointer;
		}
	}
	
	> label {
		display: inline-block;
	}
	
	.description {
		padding: 0px 0.50em;
		@extend .small;
		opacity: 0.88;
	}
}
	
p {
	@extend .normal;
}

ul, ol {
	margin-left: 1.00em;
	@extend .normal;
}
	
ul > li, ol > li {
	margin-left: 1.00em;
	list-style-position: inside;
	text-indent: -1.00em;
}
	
li li, ul ul {
	font-size: 1.00em;
}

/* Navigation */
	
nav {
	@extend .base-margin-down;
	
	ul {
		margin-left: 0px;
		padding: 0px;
		list-style-type: none;
		
		li {
			margin: 0px;
			text-indent: 0em;
			
			&.mobile {
				display: none !important;
				
				a {
					@extend .large;
					@extend .single;
					text-decoration: none;
				}
			}
		}
		
		> li {
			display: inline;
			padding: 0px;
		}
			
		ul li a {
			display: block;
		}
			
		ul {
			display: none;
		}
	}
		
	&.horizontal {
		> * {
			float: left;
			@extend .no-margin;
			margin-left: 1.00em;
			@extend .base-half-ends-padding;
		}
			
		ul {
			@extend .cfx;
			position: relative;
			@extend .no-margin;
			@extend .no-padding;
			
			li {
				@extend .cfx;
			
				&:hover > ul {
					display: block;
				}
			
				a, h6, span {
					display: block;
					@extend .no-margin;
					margin-left: 1.00em;
					@extend .base-half-ends-padding;
					height: 100.00%;
					font-size: 1.00em;
					
					a, span {
						margin-left: 0px;
					}
				}
			}
			
			ul {
				display: none;
				position: absolute;
				top: 100.00%;
				z-index: 10;
				
				li {
					float: none; 
					position: relative;
					white-space: nowrap;
					
					a {
						@extend .no-margin;
						padding: 0.50em 1.00em;
					}
				}
				
				ul {
					top: 0px;
					left: 100.00%;
				}
			}
		}
		
		> ul li {
			float: left;
			position: relative;
			display: block;
			
			&:last-child {
				margin-right: 0px;
			}
		}
		
		a.chevron:after {
			content: '\25be';
			padding-left: 0.25em;
		}
	}
		
	&.vertical {
		ul {
			display: block;
			
			li {
				display: block;
				position: relative;
				
				&:hover > ul {
					display: block;
					top: 0px;
					left: 100.00%;
				}
				
				a {
					display: block;
				}
			}
			
			ul {
				display: none;
				position: absolute;
				top: 100.00%;
				z-index: 10;
				
				li {
					float: none; 
					white-space: nowrap;
				}
				
				ul {
					top: 0px;
					left: 100.00%;
				}
			}
		}
	}
	
	&.mobile {
		ul:first-child {
			display: none;
		}
	}
}
	
table {
	display: block;
	@extend .base-margin-down;
	width: 100.00%;
	border-collapse: separate;
	border-spacing: 0px;
	overflow-x: auto;
	
	th, td, caption {
		@extend .base-half-padding;
		@extend .default;
	}
	
	caption {
		@extend .align-left;
	}
	
	tr {
		th, td {
			border-width: 0.10em;
			border-top-color: $baseOffset;
			border-bottom-color: darken($baseOffset, 8.00%);
			border-right-color: darken($baseOffset, 6.00%);
			border-left-color: $baseOffset;
			border-style: solid;
		}
	
		th {
			@extend .background;
			background-color: darken($baseOffset, 4.00%);
		}
		
		td {
			@extend .align-center;
			@extend .background;
			background-color: $baseOffset;
			
			&:first-child {
				@extend .align-left;
			}
		}
		
		&:nth-child(even) td {
			background-color: darken($baseOffset, 4.00%);
		}
	}
}

//Page settings.
body > section {
	@extend .default;
}
	
.content {
	@extend .cfx;
	@extend .base-margin;
}
	
.featured {
	@extend .base-margin-down;
	@extend .double-plus-padding;
}
	
.sticky {
	z-index: 2500;
}
	
/* Borders */

.border {
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	
	&.thick {
		border-width: 0.50em;
	}
		
	&.thin {
		border-width: 0.10em;
	}
		
	&.thinnest {
		border-width: 1px;
	}
		
	&.groove {
		border-style: groove;
	}
		
	&.inset {
		border-style: inset;
	}
		
	&.outset {
		border-style: outset;
	}
		
	&.ridge {
		border-style: ridge;
	}
}
		
/* Breadcrumbs */

.breadcrumbs {
	margin: 0px;
	padding: 0.50em;
	
	li {
		display: inline;
		padding-left: 0px !important;
		font-variant: small-caps;
		text-indent: 0px;
		text-transform: lowercase;
		
		&:after {
			content: ' / ';
			@extend .micro;
		}
		
		&:last-child:after {
			content: '';
		}
		
		&:last-child a {
			color: inherit;
			cursor: default;
			text-decoration: none;
		}
		
		&:last-child a:hover {
			color: inherit;
		}
	}
}
	
/* Tabs */

.tabs {
	@extend .cfx;
	
	border-width: 0px;
	border-bottom: 1px;
	border-color: rgba(0, 0, 0, 0.50);
	border-style: solid;
	
	a {
		@extend .button;
		margin: 0px;
		font-size: 1.00em !important;
		border-bottom: 0px !important;
		text-decoration: none;
	}
	
	li {
		display: inline;
		margin-right: -1px;
		padding: 0px !important;
		text-indent: 0px !important;
	}
	
	ul {
		margin: 0px;
		
		&.rounded-corners a {
			@extend .rounded-top;
		}
	}
}
	
/* Pagination */

.pagination {
	padding: 0.50em 0px;
	
	ul li {
		display: inline;
		padding: 0px !important;
		text-indent: 0px;
		
		a {
			padding: 0.20em 0.50em;
			text-decoration: none;
		}
	}
	
	&.rounded-corners ul li a {
		border-radius: 5px;
	}
}
	
/* Gallery */

.gallery {
	> * {
		margin-bottom: 0.50em !important;
		margin-right: 0.50% !important;
		padding: 0.85%;
		background-color: #000;
		vertical-align: bottom;
	}
	
	&.resize.twenty > * {
		width: 15.85%;
	}
		
	&.resize.twenty-five > * {
		width: 20.85%;
	}
}

/* Figure */

figure {
	position: relative;
	
	figcaption {
		position: absolute;
		bottom: 4px;
		padding: 2.50% 5.00%;
		width: 90.00%;
		background-image: url('../images/shadow.png');
		color: #FFF;
		font-size: 1.60em;
		line-height: 1.50em;
		text-align: left;
	}
}
	
/* Slider */

/* Begin Slider Work */

.slider-container {
	position: relative;
	
	.slider {
		position: relative;
		margin: 0 auto;
		text-align: center;
		
		> * {
			display: none;
			margin: 0px;
			text-indent: 0px;
			list-style-type: none;
		}
		
		> *:first-child {
			display: initial;
		}
	}
	
	.slide-control {
		position: absolute;
		top: 0px;
		display: block;
		padding: 0px 0.50em;
		height: 100.00%;
		font-size: 4.00em;
		vertical-align: middle;
		
		> * {
			display: table;
			height: 100.00%;
		}
		
		> * > * {
			display: table-cell;
			vertical-align: middle;
		}
		
		&.slide-left {
			left: 0px;
		}
		
		&.slide-right {
			right: 0px;
		}
		
		a {
			@extend .white;
			text-shadow: 0px 0px 0.10em $black;
			text-decoration: none;
			
			&:hover {
				@extend .dark-silver;
			}
		}
	}
	
	.slide-left:hover, .slide-right:hover {
		text-decoration: none;
	}
}