//Name: Responsive
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2015 PxO Ink. Some Rights Reserved.

@media all and (max-width: map-get($resolutions, "full") + "px") {
	
}

@media all and (max-width: map-get($resolutions, "ultra") + "px") {
	.page {
		min-width: 100.00%;
		max-width: 100.00%;
	}
}

@media all and (max-width: map-get($resolutions, "wide") + "px") {
	.page.eighty {
		min-width: 100.00%;
		width: 100.00%;
		max-width: 100.00%;
	}
}

@media all and (max-width: map-get($resolutions, "standard") + "px") {
	.page.sixty {
		min-width: 100.00%;
		width: 100.00%;
		max-width: 100.00%;
	}
}

@media all and (max-width: map-get($resolutions, "small") + "px") {
	.page.forty {
		min-width: 100.00%;
		width: 100.00%;
		max-width: 100.00%;
	}
}

@media all and (max-width: map-get($resolutions, "mobile") + "px") {
	nav.horizontal, nav.vertical {
		ul {
			li {
				display: none;
				width: 100.00%;
			
				&.mobile {
					display: block !important;
				}
				
				a {
					padding: 0px 4.00%;
					width: 92.00%;
				}
			}
		}
	}
	
	nav.tabs {
		border-width: 0px;
	
		ul {
			li {
				width: 49.94%;
				
				&:nth-child(odd) {
					float: left;
				}
				
				&:nth-child(even) {
					float: right;
				}
				
				a {
					display: block;
				}
			}
		
			&.rounded-corners {
				a {
					border-radius: 0px;
				}
			}
		}
	}
	
	.page.twenty {
		min-width: 100.00%;
		width: 100.00%;
		max-width: 100.00%;
	}
}

@media all and (max-width: map-get($resolutions, "phone") + "px") {
	body {
		width: 100.00%;
	}
	
	nav.tabs {
		border-width: 0px;
	
		ul {
			li {
				float: none !important;
				margin: 0px;
				width: 100.00%;
			}
		}
	}
				
}

@media all and (max-width: map-get($resolutions, "micro") + "px") {
	body {
		width: 100.00%;
	}
}