//Name: Variables
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2014 PxO Ink. Most Rights Reserved.

//Declare Colors.
$colors:	(
				"white":		#FFF,
				"silver":		#EEE,
				"dark-silver":	#DDD,
				"grey":			#BBB,
				"dark-grey":	#888,
				"metal":		#555,
				"shadow":		#444,
				"dark":			#222,
				"darker":		#111,
				"black":		#000,
				"success":		#00CA64,
				"warning":		#FF8A22,
				"error":		#F22222,
				"message":		#08B6FF,
				"blue":			#007BA7,
				"brown":		#413836,
				"cerulean":		#1DACD6,
				"green":		#088C48,
				"neon":			#26C0FF,
				"red":			#D00,
				"orange":		#FF7F00,
				"purple":		#60F,
				"yellow":		#FFF000, 
				"pink":			#FF65B8
			);
			
//Declare Color Variables.
$white:			map-get($colors, "white");
$silver:		map-get($colors, "silver");
$dark-silver:	map-get($colors, "dark-silver");
$grey:			map-get($colors, "grey");
$dark-grey:		map-get($colors, "dark-grey");
$metal:			map-get($colors, "metal");
$shadow:		map-get($colors, "shadow");
$dark:			map-get($colors, "dark");
$darker:		map-get($colors, "darker");
$black:			map-get($colors, "black");
$success:		map-get($colors, "success");
$warning:		map-get($colors, "warning");
$error:			map-get($colors, "error");
$message:		map-get($colors, "message");
$blue:			map-get($colors, "blue");
$brown:			map-get($colors, "brown");
$cerulean:		map-get($colors, "cerulean");
$green:			map-get($colors, "green");
$neon:			map-get($colors, "neon");
$orange:		map-get($colors, "orange");
$purple:		map-get($colors, "purple");
$red:			map-get($colors, "red");
$yellow:		map-get($colors, "yellow");
$pink:			map-get($colors, "pink");

//Declare Contrasting Colors.
$contrasts:	(
				"white":		$black,
				"silver":		$black,
				"dark-silver":	$darker,
				"grey":			$darker,
				"dark-grey":	$black,
				"metal":		$silver,
				"shadow":		$silver,
				"dark":			$silver,
				"darker":		$white,
				"black":		$white,
				"success":		$white,
				"warning":		$white,
				"error":		$white,
				"message":		$white,
				"blue":			$white,
				"brown":		$silver,
				"cerulean":		$white,
				"green":		$white,
				"neon":			$white,
				"orange":		$brown,
				"purple":		$silver,
				"red":			$silver,
				"yellow":		$black, 
				"pink":			$black
			);

//Declare Offset Colors.
$offsets: (
				"white":		$silver,
				"silver":		$white,
				"dark-silver":	$grey,
				"grey":			$dark-silver,
				"dark-grey":	$metal,
				"metal":		$dark-grey,
				"shadow":		$dark,
				"dark":			$shadow,
				"darker":		$grey,
				"black":		$dark-grey,
				"success":		darken($success, 10.00%),
				"warning":		darken($warning, 10.00%),
				"error":		darken($error, 10.00%),
				"message":		darken($message, 10.00%),
				"blue":			$cerulean,
				"brown":		lighten($brown, 15.00%),
				"cerulean":		$blue,
				"green":		#0B0,
				"neon":			#00FF8F,
				"orange":		darken($orange, 10.00%),
				"purple":		darken($purple, 10.00%),
				"red":			#B00,
				"yellow":		darken($yellow, 10.00%), 
				"pink":			#FF008A
			);
				
//Declare resolutions.
$resolutions:	(
					"full":		2160,
					"ultra":	1680,
					"wide":		1440,
					"standard":	1000,
					"small":	860,
					"mobile":	640,
					"phone":	480,
					"micro":	320
				);
				
//Declare resolution "DPI" adjustment.
$resoFontSizes:	(
					"full":		71.44%,
					"ultra":	71.44%,
					"wide":		62.50%,
					"standard":	62.50%,
					"small":	62.50%,
					"mobile":	53.56%,
					"phone":	53.56%,
					"micro":	53.56%
				);
							
//Declare total number of columns.
$columns:	20;

//Declare the max width for columns.
$maxWidth:	99.88;

//Declare font sizes.
$micro: 	0.80em;
$base:		1.00em;
$small:		1.20em;
$default:	1.40em;
$husky:		1.60em;
$large:		1.80em;
$heading:	2.40em;
$mega:		2.80em;
$huge:		4.00em;
$collosal:	5.80em;