//Name: Variables
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2014 PxO Ink. Most Rights Reserved.

//Declare Colors.
$colors:	(
				"white":		#FFF,
				"silver":		#EEE,
				"dark-silver":	#DDD,
				"grey":			#BBB,
				"dark-grey":	#888,
				"metal":		#555,
				"shadow":		#444,
				"dark":			#222,
				"darker":		#111,
				"black":		#000,
				"success":		#68F0AB,
				"warning":		#FFC662,
				"error":		#FF6666,
				"message":		#8CF,
				"blue":			#007BA7,
				"brown":		#413836,
				"cerulean":		#1DACD6,
				"frost":		#6D9BC3,
				"green":		#088C48,
				"gold":			#E6C700,
				"ice":			#BBDFFF,
				"neon-blue":	#26C0FF,
				"neon-green":	#00FF8F,
				"neon-red":		#F00,
				"orange":		#FF7F00,
				"purple":		#60F,
				"red":			#B00,
				"yellow":		#FFF000, 
				"pink":			#FF65B8
			);
			
//Declare Color Variables.
$white:			map-get($colors, "white");
$silver:		map-get($colors, "silver");
$dark-silver:	map-get($colors, "dark-silver");
$grey:			map-get($colors, "grey");
$dark-grey:		map-get($colors, "dark-grey");
$metal:			map-get($colors, "metal");
$shadow:		map-get($colors, "shadow");
$dark:			map-get($colors, "dark");
$darker:		map-get($colors, "darker");
$black:			map-get($colors, "black");
$success:		map-get($colors, "success");
$warning:		map-get($colors, "warning");
$error:			map-get($colors, "error");
$message:		map-get($colors, "message");
$blue:			map-get($colors, "blue");
$brown:			map-get($colors, "brown");
$cerulean:		map-get($colors, "cerulean");
$frost:			map-get($colors, "frost");
$green:			map-get($colors, "green");
$gold:			map-get($colors, "gold");
$ice:			map-get($colors, "ice");
$neon-blue:		map-get($colors, "neon-blue");
$neon-green:	map-get($colors, "neon-green");
$neon-red:		map-get($colors, "neon-red");
$orange:		map-get($colors, "orange");
$purple:		map-get($colors, "purple");
$red:			map-get($colors, "red");
$yellow:		map-get($colors, "yellow");
$pink:			map-get($colors, "pink");

//Declare Contrasting Colors.
$contrasts:	(
				"white":		$black,
				"silver":		$black,
				"dark-silver":	$darker,
				"grey":			$darker,
				"dark-grey":	$darker,
				"metal":		$silver,
				"shadow":		$silver,
				"dark":			$silver,
				"darker":		$white,
				"black":		$white,
				"success":		$darker,
				"warning":		$darker,
				"error":		$darker,
				"message":		$darker,
				"blue":			$silver,
				"brown":		$silver,
				"cerulean":		$black,
				"frost":		$black,
				"green":		$white,
				"gold":			$darker,
				"ice":			$black,
				"neon-blue":	$black,
				"neon-green":	$black,
				"neon-red":		$black,
				"orange":		$black,
				"purple":		$silver,
				"red":			$silver,
				"yellow":		$black, 
				"pink":			$black
			);

//Declare Offset Colors.
$offsets: (
				"white":		$silver,
				"silver":		$white,
				"dark-silver":	$grey,
				"grey":			$dark-silver,
				"dark-grey":	$metal,
				"metal":		$dark-grey,
				"shadow":		$dark,
				"dark":			$shadow,
				"darker":		$black,
				"black":		$darker,
				"success":		darken($success, 25.00%),
				"warning":		darken($warning, 25.00%),
				"error":		darken($error, 25.00%),
				"message":		darken($message, 25.00%),
				"blue":			$cerulean,
				"brown":		#413836,
				"cerulean":		#00E4FF,
				"frost":		$ice,
				"green":		#0F0,
				"gold":			$yellow,
				"ice":			$frost,
				"neon-blue":	$neon-green,
				"neon-green":	$neon-blue,
				"neon-red":		$red,
				"orange":		#FFB489,
				"purple":		#8880BD,
				"red":			#FF6060,
				"yellow":		$gold, 
				"pink":			#FF008A
			);
				
//Declare resolutions.
$resolutions:	(
					"full":		2048,
					"ultra":	1680,
					"wide":		1440,
					"standard":	1000,
					"small":	860,
					"mobile":	640,
					"phone":	480,
					"micro":	320
				);
				
//Declare resolution "DPI" adjustment.
$resoFontSizes:	(
					"full":		71.44%,
					"ultra":	71.44%,
					"wide":		62.50%,
					"standard":	62.50%,
					"small":	62.50%,
					"mobile":	53.56%,
					"phone":	53.56%,
					"micro":	53.56%
				);
							
//Declare total number of columns.
$columns:	20;

//Declare the max width for columns.
$maxWidth:	99.88;

//Declare font sizes.
$micro: 	0.80em;
$base:		1.00em;
$small:		1.20em;
$default:	1.40em;
$husky:		1.60em;
$large:		1.80em;
$heading:	2.40em;
$mega:		2.80em;
$huge:		4.00em;
$collosal:	5.80em;