//Name: Font Variables
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Declare font sizes.
$micro:			0.60rem;
$small:			0.80rem;
$reset:			1.00rem;
$medium:		1.20rem;
$default:		1.40rem;
$large:			1.80rem;

//Declare font families.
$font-family:	"Nimbus Sans L", sans-serif, "Open Baskerville", serif;