//Name: Layout Variables
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Borders.
$border-width:	1.00;
$border-style:	'solid';

//Margins.
$std-margin:	1.00;

//Paddings.
$std-padding:	1.00;