//Name: Layout Variables
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: � 2016 PxO Ink. Most Rights Reserved.

//Borders.
$border-width:	1.00 !default;
$border-style:	solid !default;
$border-radius:	0.25 !default;

//Margins.
$std-margin:	1.00 !default;

//Paddings.
$std-padding:	1.00 !default;