//Name: Fonts Variables
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: � 2016 PxO Ink. Most Rights Reserved.

//Declare font sizes.
$micro:			0.80 !default;
$default:		1.00 !default;
$small:			1.20 !default;
$medium:		1.40 !default;
$large:			1.80 !default;
$heading:		2.00 !default;

//Declare line heights.
$single:		1.00 !default;
$double:		2.00 !default;

//Declare font families.
$font-family:	"Nimbus Sans L", sans-serif, "Open Baskerville", serif !default;
$font-mono:		monospace, sans-serif, serif !default;