//Calculates a color based on variables.
//
//@param text $rcolor

@mixin alert-offset($color) {
	background-color: lighten(map-get($colors, $color), 34.00%);
	border-color: map-get($offsets, $color);
	color: $text;
}