//Name: Alert
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: ï¿½ 2016 PxO Ink. Most Rights Reserved.

//Import framework components.
@import "../framework/components/alert/alert"; 

.alert {
	@extend %alert;
}