//Name: Alert (Callout)
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

%button {
	@include button-design($message);
	display: inline-block;
	margin-bottom: toRem($std-margin);
	padding: toRem($std-padding / 2) toRem($std-padding);
	border-width: 0;
	border-radius: toRem($border-radius);
	cursor: pointer;
	text-decoration: none;
	
	//For each alert type.
	@each $key, $value in $buttons {
		&.#{"" + $key} {
			@include button-design($value);
		}
	}
}
	