//Name: Reset HTML
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

%html {
	@extend %nob;
	@extend %nomp;
	height: 100.00%;
	
	//For each resolution.
	@each $key, $value in $resolutions {
		@media all and (max-width: toPx($value)) {
			font-size: map-get($resoFontSizes, $key);
		}
	}
}

* %html {
	a:hover {
		visibility: visible;
	}
}