//Name: Reset Selectors
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

%nob {
	border: none;
}

%nod {
	display: none;
}

%nofv {
	font-feature-settings: "liga" off;
}

%nomp {
	margin: 0px;
	padding: 0px; 
}