//Name: Color Resources
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Converts a string to a color.
//
//@param string $color-text
@function color($color-text, $type:"") {
	//Get the color.
	$color:	map-get($colors, $color-text);
	
	@if $type == "contrast" {
		//Get the color.
		$color:	map-get($contrasts, $color-text);
	} @elseif $type == "offset" {
		//Get the color.
		$color:	map-get($offsets, $color-text);
	}
	
	//If the color does not exist.
	@if not $color {
		//Error out.
		@error "`#{$color-text}` is not a valid color."
	} @else {
		//Return the color.
		@return $color;
	}
}