//Name: Clear
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Import framework components.
@import "../framework/clear/clear"; 

.cfx {
	@extend %cfx;
}

.clear {
	@extend %clear;
}