//Name: Reset
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

//Import framework components.
@import "../framework/components/reset/reset"; 
@import "../framework/components/layout/layout"; 

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, 
q, samp, hr, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, 
summary, time, mark, audio, video {
	@extend %nomp;
	@extend %nofv;
}

body {
	@extend %body;
	@extend %nofv;
}

html {
	@extend %html;
	@extend %nofv;
}
	
iframe, img, object {
	@extend %nob;
}

h1, h2 {
	margin-bottom: toRem($std-margin / 2);
}

h3, h4, h5, h6, p, blockquote, ul, ol, table {
	margin-bottom: toRem($std-margin);
}

li {
	list-style-position: inside;
}