//Name: Clears
//Author: PxO Ink
//License: The MIT License (MIT)
//Copyright: © 2016 PxO Ink. Most Rights Reserved.

%clear {
	clear: both;
}

%clear-left {
	clear: left;
}

%clear-right {
	clear: right;
}